JWT_PUBLIC_KEY="nMFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEnlwXdOFOQFhhEoYksncm/mmRMjVv\nVKiJhzabtB5d2uMV7Xn0SKVzJB4jKUM/05Qcfmxkjt4OyBJNQ4LE5oa3eQ=="
REFRESH_TOKEN_SECRET="coX0s+/NKBQEnZMFcjtWrwYcwydOCcWHYV8Vtq2SsLjWVaGrtJBhmnJ70yD/9n74crZrEBgZEYs8XCIIERcVMSWSJGhJHQ8HimcJ9tmt8S2ZO8UVB5Mq2UzLCsCtDq8m4J9JXWk5qS5QTlIzW5t3d4m7DIqFMEikOUSp8MMgk+oXkH1stoYbXKSk8i7RJOHpPKLQRMFNOXLhv7xi+f9TEuRxFAvsjUGb4JsrxaICBf6LCXznKic4WJ0tZPLq98wW3zgxOVPjJPgDxiEAyYIZa1b/nZ0iZSJtnrCKvhamdqZkiYxW0ikZWa7TnTkGi3pZFJMqbW72VPBRl+059ZvOzA=="
MIDTRANS_SERVER_KEY=SB-Mid-server-5KowVV7DDGWp0d6m6PTTQ0Uj